<svg
   xmlns="http://www.w3.org/2000/svg"
   width="100%"
   height="100%"
   viewBox="0 0 1800 800"
   version="1.1"
   on:click="handleSvgClick(event)"
>
    <!-- ZSA Moonlander Layout: 72 keys in split ergonomic layout -->
    
    <!-- Left Side -->
    <g id="L_keys">
        <!-- Row 0 (top): Esc, 1-5, bracket key -->
        <g id="ML00" class="group pinky {groups.ML ? 'targetGroup' : ''} {targetKeys.indexOf('ML00') !== -1 ? 'target' : ''} {pressedKeys.ML00 ? 'pressed' : ''}">
            <rect class="keytop" x="40" y="30" width="75" height="75" rx="8" on:click="handleKeyClick('ML00')"/>
        </g>
        <g id="ML01" class="group pinky {groups.ML ? 'targetGroup' : ''} {targetKeys.indexOf('ML01') !== -1 ? 'target' : ''} {pressedKeys.ML01 ? 'pressed' : ''}">
            <rect class="keytop" x="125" y="20" width="75" height="75" rx="8" on:click="handleKeyClick('ML01')"/>
        </g>
        <g id="ML02" class="group ring {groups.ML ? 'targetGroup' : ''} {targetKeys.indexOf('ML02') !== -1 ? 'target' : ''} {pressedKeys.ML02 ? 'pressed' : ''}">
            <rect class="keytop" x="210" y="15" width="75" height="75" rx="8" on:click="handleKeyClick('ML02')"/>
        </g>
        <g id="ML03" class="group middle {groups.ML ? 'targetGroup' : ''} {targetKeys.indexOf('ML03') !== -1 ? 'target' : ''} {pressedKeys.ML03 ? 'pressed' : ''}">
            <rect class="keytop" x="295" y="10" width="75" height="75" rx="8" on:click="handleKeyClick('ML03')"/>
        </g>
        <g id="ML04" class="group index {groups.ML ? 'targetGroup' : ''} {targetKeys.indexOf('ML04') !== -1 ? 'target' : ''} {pressedKeys.ML04 ? 'pressed' : ''}">
            <rect class="keytop" x="380" y="15" width="75" height="75" rx="8" on:click="handleKeyClick('ML04')"/>
        </g>
        <g id="ML05" class="group index {groups.ML ? 'targetGroup' : ''} {targetKeys.indexOf('ML05') !== -1 ? 'target' : ''} {pressedKeys.ML05 ? 'pressed' : ''}">
            <rect class="keytop" x="465" y="20" width="75" height="75" rx="8" on:click="handleKeyClick('ML05')"/>
        </g>
        <g id="ML06" class="group index {groups.ML ? 'targetGroup' : ''} {targetKeys.indexOf('ML06') !== -1 ? 'target' : ''} {pressedKeys.ML06 ? 'pressed' : ''}">
            <rect class="keytop" x="550" y="30" width="75" height="75" rx="8" on:click="handleKeyClick('ML06')"/>
        </g>

        <!-- Row 1: Tab, QWERT, layer key -->
        <g id="ML14" class="group pinky {groups.ML ? 'targetGroup' : ''} {targetKeys.indexOf('ML14') !== -1 ? 'target' : ''} {pressedKeys.ML14 ? 'pressed' : ''}">
            <rect class="keytop" x="40" y="115" width="75" height="75" rx="8" on:click="handleKeyClick('ML14')"/>
        </g>
        <g id="ML15" class="group pinky {groups.ML ? 'targetGroup' : ''} {targetKeys.indexOf('ML15') !== -1 ? 'target' : ''} {pressedKeys.ML15 ? 'pressed' : ''}">
            <rect class="keytop" x="125" y="105" width="75" height="75" rx="8" on:click="handleKeyClick('ML15')"/>
        </g>
        <g id="ML16" class="group ring {groups.ML ? 'targetGroup' : ''} {targetKeys.indexOf('ML16') !== -1 ? 'target' : ''} {pressedKeys.ML16 ? 'pressed' : ''}">
            <rect class="keytop" x="210" y="100" width="75" height="75" rx="8" on:click="handleKeyClick('ML16')"/>
        </g>
        <g id="ML17" class="group middle {groups.ML ? 'targetGroup' : ''} {targetKeys.indexOf('ML17') !== -1 ? 'target' : ''} {pressedKeys.ML17 ? 'pressed' : ''}">
            <rect class="keytop" x="295" y="95" width="75" height="75" rx="8" on:click="handleKeyClick('ML17')"/>
        </g>
        <g id="ML18" class="group index {groups.ML ? 'targetGroup' : ''} {targetKeys.indexOf('ML18') !== -1 ? 'target' : ''} {pressedKeys.ML18 ? 'pressed' : ''}">
            <rect class="keytop" x="380" y="100" width="75" height="75" rx="8" on:click="handleKeyClick('ML18')"/>
        </g>
        <g id="ML19" class="group index {groups.ML ? 'targetGroup' : ''} {targetKeys.indexOf('ML19') !== -1 ? 'target' : ''} {pressedKeys.ML19 ? 'pressed' : ''}">
            <rect class="keytop" x="465" y="105" width="75" height="75" rx="8" on:click="handleKeyClick('ML19')"/>
        </g>
        <g id="ML20" class="group index {groups.ML ? 'targetGroup' : ''} {targetKeys.indexOf('ML20') !== -1 ? 'target' : ''} {pressedKeys.ML20 ? 'pressed' : ''}">
            <rect class="keytop" x="550" y="115" width="75" height="75" rx="8" on:click="handleKeyClick('ML20')"/>
        </g>

        <!-- Row 2: Caps, ASDFG, Alt -->
        <g id="ML28" class="group pinky {groups.ML ? 'targetGroup' : ''} {targetKeys.indexOf('ML28') !== -1 ? 'target' : ''} {pressedKeys.ML28 ? 'pressed' : ''}">
            <rect class="keytop" x="40" y="200" width="75" height="75" rx="8" on:click="handleKeyClick('ML28')"/>
        </g>
        <g id="ML29" class="group pinky {groups.ML ? 'targetGroup' : ''} {targetKeys.indexOf('ML29') !== -1 ? 'target' : ''} {pressedKeys.ML29 ? 'pressed' : ''}">
            <rect class="keytop" x="125" y="190" width="75" height="75" rx="8" on:click="handleKeyClick('ML29')"/>
        </g>
        <g id="ML30" class="group ring {groups.ML ? 'targetGroup' : ''} {targetKeys.indexOf('ML30') !== -1 ? 'target' : ''} {pressedKeys.ML30 ? 'pressed' : ''}">
            <rect class="keytop" x="210" y="185" width="75" height="75" rx="8" on:click="handleKeyClick('ML30')"/>
        </g>
        <g id="ML31" class="group middle {groups.ML ? 'targetGroup' : ''} {targetKeys.indexOf('ML31') !== -1 ? 'target' : ''} {pressedKeys.ML31 ? 'pressed' : ''}">
            <rect class="keytop" x="295" y="180" width="75" height="75" rx="8" on:click="handleKeyClick('ML31')"/>
        </g>
        <g id="ML32" class="group index {groups.ML ? 'targetGroup' : ''} {targetKeys.indexOf('ML32') !== -1 ? 'target' : ''} {pressedKeys.ML32 ? 'pressed' : ''}">
            <rect class="keytop" x="380" y="185" width="75" height="75" rx="8" on:click="handleKeyClick('ML32')"/>
        </g>
        <g id="ML33" class="group index {groups.ML ? 'targetGroup' : ''} {targetKeys.indexOf('ML33') !== -1 ? 'target' : ''} {pressedKeys.ML33 ? 'pressed' : ''}">
            <rect class="keytop" x="465" y="190" width="75" height="75" rx="8" on:click="handleKeyClick('ML33')"/>
        </g>
        <g id="ML34" class="group index {groups.ML ? 'targetGroup' : ''} {targetKeys.indexOf('ML34') !== -1 ? 'target' : ''} {pressedKeys.ML34 ? 'pressed' : ''}">
            <rect class="keytop" x="550" y="200" width="75" height="75" rx="8" on:click="handleKeyClick('ML34')"/>
        </g>

        <!-- Row 3: Shift, ZXCVB -->
        <g id="ML42" class="group pinky {groups.ML ? 'targetGroup' : ''} {targetKeys.indexOf('ML42') !== -1 ? 'target' : ''} {pressedKeys.ML42 ? 'pressed' : ''}">
            <rect class="keytop" x="40" y="285" width="75" height="75" rx="8" on:click="handleKeyClick('ML42')"/>
        </g>
        <g id="ML43" class="group pinky {groups.ML ? 'targetGroup' : ''} {targetKeys.indexOf('ML43') !== -1 ? 'target' : ''} {pressedKeys.ML43 ? 'pressed' : ''}">
            <rect class="keytop" x="125" y="275" width="75" height="75" rx="8" on:click="handleKeyClick('ML43')"/>
        </g>
        <g id="ML44" class="group ring {groups.ML ? 'targetGroup' : ''} {targetKeys.indexOf('ML44') !== -1 ? 'target' : ''} {pressedKeys.ML44 ? 'pressed' : ''}">
            <rect class="keytop" x="210" y="270" width="75" height="75" rx="8" on:click="handleKeyClick('ML44')"/>
        </g>
        <g id="ML45" class="group middle {groups.ML ? 'targetGroup' : ''} {targetKeys.indexOf('ML45') !== -1 ? 'target' : ''} {pressedKeys.ML45 ? 'pressed' : ''}">
            <rect class="keytop" x="295" y="265" width="75" height="75" rx="8" on:click="handleKeyClick('ML45')"/>
        </g>
        <g id="ML46" class="group index {groups.ML ? 'targetGroup' : ''} {targetKeys.indexOf('ML46') !== -1 ? 'target' : ''} {pressedKeys.ML46 ? 'pressed' : ''}">
            <rect class="keytop" x="380" y="270" width="75" height="75" rx="8" on:click="handleKeyClick('ML46')"/>
        </g>
        <g id="ML47" class="group index {groups.ML ? 'targetGroup' : ''} {targetKeys.indexOf('ML47') !== -1 ? 'target' : ''} {pressedKeys.ML47 ? 'pressed' : ''}">
            <rect class="keytop" x="465" y="275" width="75" height="75" rx="8" on:click="handleKeyClick('ML47')"/>
        </g>

        <!-- Row 4: Bottom modifiers -->
        <g id="ML54" class="group thumb {groups.ML ? 'targetGroup' : ''} {targetKeys.indexOf('ML54') !== -1 ? 'target' : ''} {pressedKeys.ML54 ? 'pressed' : ''}">
            <rect class="keytop" x="40" y="370" width="75" height="75" rx="8" on:click="handleKeyClick('ML54')"/>
        </g>
        <g id="ML55" class="group thumb {groups.ML ? 'targetGroup' : ''} {targetKeys.indexOf('ML55') !== -1 ? 'target' : ''} {pressedKeys.ML55 ? 'pressed' : ''}">
            <rect class="keytop" x="125" y="360" width="75" height="75" rx="8" on:click="handleKeyClick('ML55')"/>
        </g>
        <g id="ML56" class="group thumb {groups.ML ? 'targetGroup' : ''} {targetKeys.indexOf('ML56') !== -1 ? 'target' : ''} {pressedKeys.ML56 ? 'pressed' : ''}">
            <rect class="keytop" x="210" y="355" width="75" height="75" rx="8" on:click="handleKeyClick('ML56')"/>
        </g>
        <g id="ML57" class="group thumb {groups.ML ? 'targetGroup' : ''} {targetKeys.indexOf('ML57') !== -1 ? 'target' : ''} {pressedKeys.ML57 ? 'pressed' : ''}">
            <rect class="keytop" x="295" y="345" width="75" height="90" rx="8" transform="rotate(-5 332.5 390)" on:click="handleKeyClick('ML57')"/>
        </g>
        <g id="ML58" class="group thumb {groups.ML ? 'targetGroup' : ''} {targetKeys.indexOf('ML58') !== -1 ? 'target' : ''} {pressedKeys.ML58 ? 'pressed' : ''}">
            <rect class="keytop" x="380" y="350" width="75" height="90" rx="8" transform="rotate(-5 417.5 395)" on:click="handleKeyClick('ML58')"/>
        </g>
        <g id="ML59" class="group thumb {groups.ML ? 'targetGroup' : ''} {targetKeys.indexOf('ML59') !== -1 ? 'target' : ''} {pressedKeys.ML59 ? 'pressed' : ''}">
            <rect class="keytop" x="475" y="390" width="150" height="90" rx="8" on:click="handleKeyClick('ML59')"/>
        </g>

        <!-- Left Thumb cluster -->
        <g id="ML66" class="group thumb {groups.ML ? 'targetGroup' : ''} {targetKeys.indexOf('ML66') !== -1 ? 'target' : ''} {pressedKeys.ML66 ? 'pressed' : ''}">
            <rect class="keytop" x="420" y="500" width="110" height="75" rx="8" transform="rotate(-20 475 537.5)" on:click="handleKeyClick('ML66')"/>
        </g>
        <g id="ML67" class="group thumb {groups.ML ? 'targetGroup' : ''} {targetKeys.indexOf('ML67') !== -1 ? 'target' : ''} {pressedKeys.ML67 ? 'pressed' : ''}">
            <rect class="keytop" x="520" y="520" width="110" height="75" rx="8" transform="rotate(-25 575 557.5)" on:click="handleKeyClick('ML67')"/>
        </g>
        <g id="ML68" class="group thumb {groups.ML ? 'targetGroup' : ''} {targetKeys.indexOf('ML68') !== -1 ? 'target' : ''} {pressedKeys.ML68 ? 'pressed' : ''}">
            <rect class="keytop" x="630" y="550" width="110" height="75" rx="8" transform="rotate(-30 685 587.5)" on:click="handleKeyClick('ML68')"/>
        </g>
    </g>

    <!-- Right Side -->
    <g id="R_keys">
        <!-- Row 0 (top): bracket key, 6-0, Backspace -->
        <g id="ML07" class="group index {groups.ML ? 'targetGroup' : ''} {targetKeys.indexOf('ML07') !== -1 ? 'target' : ''} {pressedKeys.ML07 ? 'pressed' : ''}">
            <rect class="keytop" x="975" y="30" width="75" height="75" rx="8" on:click="handleKeyClick('ML07')"/>
        </g>
        <g id="ML08" class="group index {groups.ML ? 'targetGroup' : ''} {targetKeys.indexOf('ML08') !== -1 ? 'target' : ''} {pressedKeys.ML08 ? 'pressed' : ''}">
            <rect class="keytop" x="1060" y="20" width="75" height="75" rx="8" on:click="handleKeyClick('ML08')"/>
        </g>
        <g id="ML09" class="group middle {groups.ML ? 'targetGroup' : ''} {targetKeys.indexOf('ML09') !== -1 ? 'target' : ''} {pressedKeys.ML09 ? 'pressed' : ''}">
            <rect class="keytop" x="1145" y="15" width="75" height="75" rx="8" on:click="handleKeyClick('ML09')"/>
        </g>
        <g id="ML10" class="group ring {groups.ML ? 'targetGroup' : ''} {targetKeys.indexOf('ML10') !== -1 ? 'target' : ''} {pressedKeys.ML10 ? 'pressed' : ''}">
            <rect class="keytop" x="1230" y="10" width="75" height="75" rx="8" on:click="handleKeyClick('ML10')"/>
        </g>
        <g id="ML11" class="group pinky {groups.ML ? 'targetGroup' : ''} {targetKeys.indexOf('ML11') !== -1 ? 'target' : ''} {pressedKeys.ML11 ? 'pressed' : ''}">
            <rect class="keytop" x="1315" y="15" width="75" height="75" rx="8" on:click="handleKeyClick('ML11')"/>
        </g>
        <g id="ML12" class="group pinky {groups.ML ? 'targetGroup' : ''} {targetKeys.indexOf('ML12') !== -1 ? 'target' : ''} {pressedKeys.ML12 ? 'pressed' : ''}">
            <rect class="keytop" x="1400" y="20" width="75" height="75" rx="8" on:click="handleKeyClick('ML12')"/>
        </g>
        <g id="ML13" class="group pinky {groups.ML ? 'targetGroup' : ''} {targetKeys.indexOf('ML13') !== -1 ? 'target' : ''} {pressedKeys.ML13 ? 'pressed' : ''}">
            <rect class="keytop" x="1485" y="30" width="75" height="75" rx="8" on:click="handleKeyClick('ML13')"/>
        </g>

        <!-- Row 1: layer key, YUIOP, minus -->
        <g id="ML21" class="group index {groups.ML ? 'targetGroup' : ''} {targetKeys.indexOf('ML21') !== -1 ? 'target' : ''} {pressedKeys.ML21 ? 'pressed' : ''}">
            <rect class="keytop" x="975" y="115" width="75" height="75" rx="8" on:click="handleKeyClick('ML21')"/>
        </g>
        <g id="ML22" class="group index {groups.ML ? 'targetGroup' : ''} {targetKeys.indexOf('ML22') !== -1 ? 'target' : ''} {pressedKeys.ML22 ? 'pressed' : ''}">
            <rect class="keytop" x="1060" y="105" width="75" height="75" rx="8" on:click="handleKeyClick('ML22')"/>
        </g>
        <g id="ML23" class="group middle {groups.ML ? 'targetGroup' : ''} {targetKeys.indexOf('ML23') !== -1 ? 'target' : ''} {pressedKeys.ML23 ? 'pressed' : ''}">
            <rect class="keytop" x="1145" y="100" width="75" height="75" rx="8" on:click="handleKeyClick('ML23')"/>
        </g>
        <g id="ML24" class="group ring {groups.ML ? 'targetGroup' : ''} {targetKeys.indexOf('ML24') !== -1 ? 'target' : ''} {pressedKeys.ML24 ? 'pressed' : ''}">
            <rect class="keytop" x="1230" y="95" width="75" height="75" rx="8" on:click="handleKeyClick('ML24')"/>
        </g>
        <g id="ML25" class="group pinky {groups.ML ? 'targetGroup' : ''} {targetKeys.indexOf('ML25') !== -1 ? 'target' : ''} {pressedKeys.ML25 ? 'pressed' : ''}">
            <rect class="keytop" x="1315" y="100" width="75" height="75" rx="8" on:click="handleKeyClick('ML25')"/>
        </g>
        <g id="ML26" class="group pinky {groups.ML ? 'targetGroup' : ''} {targetKeys.indexOf('ML26') !== -1 ? 'target' : ''} {pressedKeys.ML26 ? 'pressed' : ''}">
            <rect class="keytop" x="1400" y="105" width="75" height="75" rx="8" on:click="handleKeyClick('ML26')"/>
        </g>
        <g id="ML27" class="group pinky {groups.ML ? 'targetGroup' : ''} {targetKeys.indexOf('ML27') !== -1 ? 'target' : ''} {pressedKeys.ML27 ? 'pressed' : ''}">
            <rect class="keytop" x="1485" y="115" width="75" height="75" rx="8" on:click="handleKeyClick('ML27')"/>
        </g>

        <!-- Row 2: Alt, HJKL;, Enter -->
        <g id="ML35" class="group index {groups.ML ? 'targetGroup' : ''} {targetKeys.indexOf('ML35') !== -1 ? 'target' : ''} {pressedKeys.ML35 ? 'pressed' : ''}">
            <rect class="keytop" x="975" y="200" width="75" height="75" rx="8" on:click="handleKeyClick('ML35')"/>
        </g>
        <g id="ML36" class="group index {groups.ML ? 'targetGroup' : ''} {targetKeys.indexOf('ML36') !== -1 ? 'target' : ''} {pressedKeys.ML36 ? 'pressed' : ''}">
            <rect class="keytop" x="1060" y="190" width="75" height="75" rx="8" on:click="handleKeyClick('ML36')"/>
        </g>
        <g id="ML37" class="group middle {groups.ML ? 'targetGroup' : ''} {targetKeys.indexOf('ML37') !== -1 ? 'target' : ''} {pressedKeys.ML37 ? 'pressed' : ''}">
            <rect class="keytop" x="1145" y="185" width="75" height="75" rx="8" on:click="handleKeyClick('ML37')"/>
        </g>
        <g id="ML38" class="group ring {groups.ML ? 'targetGroup' : ''} {targetKeys.indexOf('ML38') !== -1 ? 'target' : ''} {pressedKeys.ML38 ? 'pressed' : ''}">
            <rect class="keytop" x="1230" y="180" width="75" height="75" rx="8" on:click="handleKeyClick('ML38')"/>
        </g>
        <g id="ML39" class="group pinky {groups.ML ? 'targetGroup' : ''} {targetKeys.indexOf('ML39') !== -1 ? 'target' : ''} {pressedKeys.ML39 ? 'pressed' : ''}">
            <rect class="keytop" x="1315" y="185" width="75" height="75" rx="8" on:click="handleKeyClick('ML39')"/>
        </g>
        <g id="ML40" class="group ring {groups.ML ? 'targetGroup' : ''} {targetKeys.indexOf('ML40') !== -1 ? 'target' : ''} {pressedKeys.ML40 ? 'pressed' : ''}">
            <rect class="keytop" x="1400" y="190" width="75" height="75" rx="8" on:click="handleKeyClick('ML40')"/>
        </g>
        <g id="ML41" class="group pinky {groups.ML ? 'targetGroup' : ''} {targetKeys.indexOf('ML41') !== -1 ? 'target' : ''} {pressedKeys.ML41 ? 'pressed' : ''}">
            <rect class="keytop" x="1485" y="200" width="75" height="75" rx="8" on:click="handleKeyClick('ML41')"/>
        </g>

        <!-- Row 3: NM,./, Shift -->
        <g id="ML48" class="group index {groups.ML ? 'targetGroup' : ''} {targetKeys.indexOf('ML48') !== -1 ? 'target' : ''} {pressedKeys.ML48 ? 'pressed' : ''}">
            <rect class="keytop" x="1060" y="275" width="75" height="75" rx="8" on:click="handleKeyClick('ML48')"/>
        </g>
        <g id="ML49" class="group middle {groups.ML ? 'targetGroup' : ''} {targetKeys.indexOf('ML49') !== -1 ? 'target' : ''} {pressedKeys.ML49 ? 'pressed' : ''}">
            <rect class="keytop" x="1145" y="270" width="75" height="75" rx="8" on:click="handleKeyClick('ML49')"/>
        </g>
        <g id="ML50" class="group ring {groups.ML ? 'targetGroup' : ''} {targetKeys.indexOf('ML50') !== -1 ? 'target' : ''} {pressedKeys.ML50 ? 'pressed' : ''}">
            <rect class="keytop" x="1230" y="265" width="75" height="75" rx="8" on:click="handleKeyClick('ML50')"/>
        </g>
        <g id="ML51" class="group pinky {groups.ML ? 'targetGroup' : ''} {targetKeys.indexOf('ML51') !== -1 ? 'target' : ''} {pressedKeys.ML51 ? 'pressed' : ''}">
            <rect class="keytop" x="1315" y="270" width="75" height="75" rx="8" on:click="handleKeyClick('ML51')"/>
        </g>
        <g id="ML52" class="group pinky {groups.ML ? 'targetGroup' : ''} {targetKeys.indexOf('ML52') !== -1 ? 'target' : ''} {pressedKeys.ML52 ? 'pressed' : ''}">
            <rect class="keytop" x="1400" y="275" width="75" height="75" rx="8" on:click="handleKeyClick('ML52')"/>
        </g>
        <g id="ML53" class="group pinky {groups.ML ? 'targetGroup' : ''} {targetKeys.indexOf('ML53') !== -1 ? 'target' : ''} {pressedKeys.ML53 ? 'pressed' : ''}">
            <rect class="keytop" x="1485" y="285" width="75" height="75" rx="8" on:click="handleKeyClick('ML53')"/>
        </g>

        <!-- Row 4: Bottom modifiers -->
        <g id="ML60" class="group thumb {groups.ML ? 'targetGroup' : ''} {targetKeys.indexOf('ML60') !== -1 ? 'target' : ''} {pressedKeys.ML60 ? 'pressed' : ''}">
            <rect class="keytop" x="975" y="390" width="150" height="90" rx="8" on:click="handleKeyClick('ML60')"/>
        </g>
        <g id="ML61" class="group thumb {groups.ML ? 'targetGroup' : ''} {targetKeys.indexOf('ML61') !== -1 ? 'target' : ''} {pressedKeys.ML61 ? 'pressed' : ''}">
            <rect class="keytop" x="1145" y="350" width="75" height="90" rx="8" transform="rotate(-5 1182.5 395)" on:click="handleKeyClick('ML61')"/>
        </g>
        <g id="ML62" class="group thumb {groups.ML ? 'targetGroup' : ''} {targetKeys.indexOf('ML62') !== -1 ? 'target' : ''} {pressedKeys.ML62 ? 'pressed' : ''}">
            <rect class="keytop" x="1230" y="345" width="75" height="90" rx="8" transform="rotate(-5 1267.5 390)" on:click="handleKeyClick('ML62')"/>
        </g>
        <g id="ML63" class="group thumb {groups.ML ? 'targetGroup' : ''} {targetKeys.indexOf('ML63') !== -1 ? 'target' : ''} {pressedKeys.ML63 ? 'pressed' : ''}">
            <rect class="keytop" x="1315" y="350" width="75" height="90" rx="8" transform="rotate(-5 1352.5 395)" on:click="handleKeyClick('ML63')"/>
        </g>
        <g id="ML64" class="group thumb {groups.ML ? 'targetGroup' : ''} {targetKeys.indexOf('ML64') !== -1 ? 'target' : ''} {pressedKeys.ML64 ? 'pressed' : ''}">
            <rect class="keytop" x="1400" y="355" width="75" height="90" rx="8" transform="rotate(-5 1437.5 400)" on:click="handleKeyClick('ML64')"/>
        </g>
        <g id="ML65" class="group thumb {groups.ML ? 'targetGroup' : ''} {targetKeys.indexOf('ML65') !== -1 ? 'target' : ''} {pressedKeys.ML65 ? 'pressed' : ''}">
            <rect class="keytop" x="1485" y="370" width="75" height="75" rx="8" on:click="handleKeyClick('ML65')"/>
        </g>

        <!-- Right Thumb cluster -->
        <g id="ML69" class="group thumb {groups.ML ? 'targetGroup' : ''} {targetKeys.indexOf('ML69') !== -1 ? 'target' : ''} {pressedKeys.ML69 ? 'pressed' : ''}">
            <rect class="keytop" x="860" y="550" width="110" height="75" rx="8" transform="rotate(30 915 587.5)" on:click="handleKeyClick('ML69')"/>
        </g>
        <g id="ML70" class="group thumb {groups.ML ? 'targetGroup' : ''} {targetKeys.indexOf('ML70') !== -1 ? 'target' : ''} {pressedKeys.ML70 ? 'pressed' : ''}">
            <rect class="keytop" x="970" y="520" width="110" height="75" rx="8" transform="rotate(25 1025 557.5)" on:click="handleKeyClick('ML70')"/>
        </g>
        <g id="ML71" class="group thumb {groups.ML ? 'targetGroup' : ''} {targetKeys.indexOf('ML71') !== -1 ? 'target' : ''} {pressedKeys.ML71 ? 'pressed' : ''}">
            <rect class="keytop" x="1070" y="500" width="110" height="75" rx="8" transform="rotate(20 1125 537.5)" on:click="handleKeyClick('ML71')"/>
        </g>
    </g>
</svg>

<script>
    import _ from "lamb";
    import {invertObj} from "@utils/objUtils";
    import {joinWithEmpty} from "@utils/arrayUtils";
    import keyToCharData from "./keyToChar.json";

    // Get layer-specific mapping
    const getLayerMapping = (layer) => keyToCharData[`layer${layer}`] || keyToCharData.layer0;

    export default {
        data () {
            return {
                pressedChars: [],
                groups: {}
            }
        },
        computed: {
            keyToChar: ({currentLayer}) => getLayerMapping(currentLayer),
            charToKey: ({keyToChar}) => invertObj(keyToChar),
            pressedKeys: ({pressedChars, keyToChar}) =>
                _.mapValues(keyToChar, char => _.isIn(pressedChars, char)),
            targetKeys: ({targetChar, currentLayer}) => {
                console.log('targetKeys recalculating for char:', targetChar, 'layer:', currentLayer);
                // Only check the currently active layer
                const allKeys = [];
                
                const layerMapping = getLayerMapping(currentLayer);
                const layerCharToKey = invertObj(layerMapping);
                const key = layerCharToKey[targetChar];
                
                if (key !== undefined) {
                    // Check if it's a shift combination
                    if (key.startsWith('Shift+')) {
                        const baseKey = key.replace('Shift+', '');
                        // Add both shift keys and the base key
                        allKeys.push('ML42'); // left shift
                        allKeys.push('ML53'); // right shift
                        allKeys.push(baseKey);
                    } else {
                        // Regular key
                        allKeys.push(key);
                    }
                }
                
                console.log('targetKeys result:', allKeys);
                return allKeys;
            },
            groups: ({targetKeys}) => {
                if (!targetKeys || targetKeys.length === 0) return {};
                // All Moonlander keys start with "ML" so group by that
                const hasML = targetKeys.some(key => key && key.startsWith('ML'));
                return { ML: hasML };
            }
        },
        
        methods: {
            handleSvgClick(event) {
                console.log('SVG clicked, event.target:', event.target);
                // Find the clicked key by looking for parent <g> with id starting with ML
                let target = event.target;
                let keyId = null;
                
                // Traverse up to find the <g> element with ML id
                while (target && target.tagName !== 'svg') {
                    console.log('Checking element:', target.tagName, target.id);
                    if (target.tagName === 'g' && target.id && target.id.startsWith('ML')) {
                        keyId = target.id;
                        console.log('Found keyId:', keyId);
                        break;
                    }
                    target = target.parentNode;
                }
                
                console.log('Final keyId:', keyId);
                if (keyId) {
                    this.handleKeyClick(keyId);
                } else {
                    console.log('No key found!');
                }
            },
            
            handleKeyClick(keyId) {
                const {keyToChar, currentLayer} = this.get();
                const char = keyToChar[keyId];
                
                console.log('Key clicked:', keyId, 'char:', char, 'currentLayer:', currentLayer);
                
                // Check if it's a layer toggle key
                if (char === '_Layer1') {
                    console.log('Firing layerChange to layer 1');
                    this.fire('layerChange', { layer: 1 });
                } else if (char === '_Layer2' || char === '_LayerQ') {
                    console.log('Firing layerChange to layer 2');
                    this.fire('layerChange', { layer: 2 });
                } else if (keyId === 'ML65' && currentLayer === 1) {
                    console.log('Firing layerChange to layer 0');
                    // Toggle back to layer 0 from layer 1
                    this.fire('layerChange', { layer: 0 });
                }
            }
        }
    }
</script>

<style>
    .group {
        cursor: pointer;
        pointer-events: all;
    }
    
    .keytop {
        fill: #ffffff;
        stroke: #000000;
        stroke-opacity: 0.5;
        stroke-width: 2;
        stroke-linecap: round;
        pointer-events: all;
    }

    .group.pinky .keytop {
        fill: hsl(350, 100%, 95%);
    }
    .group.ring .keytop{
        fill: hsl(51, 100%, 90%);
    }
    .group.middle .keytop{
        fill: hsl(180, 100%, 90%);
    }
    .group.index .keytop{
        fill: hsl(120, 93%, 90%);
    }
    .group.thumb .keytop{
        fill: hsl(32, 88%, 90%);
    }

    .targetGroup.pinky .keytop {
        fill: hsl(350, 100%, 98%);
    }
    .targetGroup.ring .keytop{
        fill: hsl(51, 100%, 95%);
    }
    .targetGroup.middle .keytop{
        fill: hsl(180, 100%, 95%);
    }
    .targetGroup.index .keytop{
        fill: hsl(120, 93%, 95%);
    }
    .targetGroup.thumb .keytop{
        fill: hsl(32, 88%, 94%);
    }

    .target .keytop {
        fill: rgb(220, 38, 38) !important;
    }
    .pressed .keytop {
        fill: lightgrey !important;
    }
</style>
